<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>
<th:block th:fragment="footer">
    <footer>
        <div  class="container">
            <p>
                АО ГНЦ НИИАР
                <span style="display:inline-block">
                    <span sec:authorize="isAuthenticated()">
                       | Вы вошли как: <span style="color:blue" sec:authentication="name"></span> |
                        <a th:href="@{/logout}">Выйти из системы</a>
                        <span sec:authorize="hasRole('ROLE_ADMIN')">
                            | <i class="fas fa-tools"></i><a th:href="@{/admin}"> Административная панель</a> |
                        </span>
                    </span>
                </span>
            </p>
        </div>
    </footer>

    <script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>

    <script>
        $( document ).ready(function() {
            $('.user-info').hide();
            $('.filter-form').hide();
            $('.chart-table').hide();
            $('.show-filter').show();
            $('.show-table').show();
            $('.hide-table').hide();
        });

        $('.fa-info-circle').mouseenter(function(){
            $(this).next('.user-info').show();
        });

        $(document).on('click','.ajax-edit-sub',function () {
            var id = $(this).parents('tr').attr('id');
            $.ajax({
                type: "GET",
                url: "/subscribers/edit",
                data: "id="+ id,
                success: function(sub){
                    $('.edit-form')[0].reset();
                    $('#sub_id').val(sub.sub_id);
                    $('#_fullName').val(sub.fullName);
                    $('#_internalNum').val(sub.internalNum);
                    $('#_externalNum').val(sub.externalNum);
                    $('#_building').val(sub.building);
                    $('#_room').val(sub.room);
                    $('#_info').val(sub.subDescr);
                    $('#_gpStrip').val(sub.gpStrip);
                    $('#_allocation').val(sub.allocation);
                    $('#_cos').val(sub.cos);
                    $('#_isDigital').attr('checked', sub.digital);
                    $('#_isFax').attr('checked', sub.fax);
                    $('#_isSip').attr('checked',sub.sip);

                    if (sub.division != null) {
                        var div_id = sub.division.division_id;
                    }
                    else
                    {
                        $('#_division').val('0').prop('selected', true);
                    }

                    $.ajax({
                        type: "GET",
                        url: "/divisions/ajax",
                        success: function(divs) {
                            var options = $('#_division');

                            for (var i=0; i < divs.length; i++) {
                                if (sub.division != null){
                                    if (div_id === divs[i].division_id){
                                        options.append('<option selected="selected" value="' + divs[i].division_id + '">' + divs[i].divisionName + '</option>');
                                    }
                                    else
                                    {
                                        options.append('<option value="' + divs[i].division_id + '">' + divs[i].divisionName + '</option>');
                                    }
                                }
                                else
                                {
                                    options.append('<option value="' + divs[i].division_id + '">' + divs[i].divisionName + '</option>');
                                }

                            }
                        }
                    });
                    $('#edit-modal').modal();
                }
            });
        });

        $('.ajax-sub-create').click(function () {
            $.ajax({
                type: "GET",
                url: "/divisions/ajax",
                success: function (divs) {
                    var options = $('#c_division');
                    for (var i=0; i < divs.length; i++) {
                        options.append('<option value="' + divs[i].division_id + '">' + divs[i].divisionName + '</option>');
                    }
                }
            });

            $('#create-modal').modal();
        });

        $('#btn-save').click(function () {
            var data = {};
            var divisionObj = {};
            data["sub_id"] = $('#sub_id').val();
            data["fullName"] = $('#_fullName').val();
            data["internalNum"] = $('#_internalNum').val();
            data["externalNum"] = $('#_externalNum').val();
            data["building"] = $('#_building').val();
            data["room"] = $('#_room').val();
            divisionObj["division_id"] = $('#_division option:selected').val();
            divisionObj["divisionName"] = $('#_division option:selected').text();
            data["subDescr"] = $('#_info').val();
            data["gpStrip"] = $('#_gpStrip').val();
            data["allocation"] = $('#_allocation').val();
            data["cos"] = $('#_cos').val();
            data["fax"] = !!$('#_isFax').prop('checked');
            data["digital"] = !!$('#_isDigital').prop('checked');
            data["sip"] = !!$('#_isSip').prop('checked');
            data["division"] = divisionObj;

            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: "/subscribers/update",
                data: JSON.stringify(data),
                dataType: 'json',
                timeout: 600000,
                success: function (p) {
                    var row = document.getElementById(p.sub_id);
                    if (p.division != null) var divisionName = p.division.divisionName;
                    if (p.digital)
                        var digital = "<i class='fas fa-plus'></i>";
                    else
                        var digital = "<i class='fas fa-minus'></i>";
                    if (p.fax)
                        var fax = "<i class='fas fa-plus'></i>";
                    else
                        var fax = "<i class='fas fa-minus'></i>";
                    if (p.sip)
                        var sip = "<i class='fas fa-plus'></i>";
                    else
                        var sip = "<i class='fas fa-minus'></i>";
                    var edit = "<a href= \"#\" class='btn btn-primary btn-sm ajax-edit-sub'><i class='fas fa-user-edit sm-2'></i></a>";
                    var delet = "<a href= \"#\" class='btn btn-primary btn-sm'><i class='fas fa-user-times sm-2'></i></a>";


                    row.innerHTML =
                        "<td>" + p.sub_id +"</td><td>​"+ p.fullName +"</td><td>"+ p.internalNum +"</td>" +
                        "<td>"+ p.externalNum +"</td><td>"+ p.building +"</td><td>"+ p.room +"</td>" +
                        "<td>"+ divisionName +"</td><td>"+ p.subDescr +"</td><td>"+ p.gpStrip +"</td>" +
                        "<td>"+ p.allocation +"</td><td>"+ digital +"</td><td>"+ p.cos +"</td><td>"+ fax +"</td>" +
                        "<td>"+ sip +"</td><td>"+ edit +"</td><td>"+ delet +"</td>";
                    $('#edit-modal').modal('hide');
                },
                error: function (jqXHR, exception) {
                    var msg = '';
                    if (jqXHR.status === 0) {
                        msg = 'Not connect.\n Verify Network.';
                    } else if (jqXHR.status == 404) {
                        msg = 'Requested page not found. [404]';
                    } else if (jqXHR.status == 500) {
                        msg = 'Internal Server Error [500].';
                    } else if (exception === 'parsererror') {
                        msg = 'Requested JSON parse failed.';
                    } else if (exception === 'timeout') {
                        msg = 'Time out error.';
                    } else if (exception === 'abort') {
                        msg = 'Ajax request aborted.';
                    } else {
                        msg = 'Uncaught Error.\n' + jqXHR.responseText;
                    }
                    alert(msg);
                }
            });

        });

        $('#btn-create').click(function () {
            var data = {};
            var divisionObj = {};
            data["fullName"] = $('#c_fullName').val();
            data["internalNum"] = $('#c_internalNum').val();
            data["externalNum"] = $('#c_externalNum').val();
            data["building"] = $('#c_building').val();
            data["room"] = $('#c_room').val();
            divisionObj["division_id"] = $('#c_division option:selected').val();
            divisionObj["divisionName"] = $('#c_division option:selected').text();
            data["subDescr"] = $('#c_info').val();
            data["gpStrip"] = $('#c_gpStrip').val();
            data["allocation"] = $('#c_allocation').val();
            data["cos"] = $('#c_cos').val();
            data["fax"] = !!$('#c_isFax').prop('checked');
            data["digital"] = !!$('#c_isDigital').prop('checked');
            data["sip"] = !!$('#c_isSip').prop('checked');
            data["division"] = divisionObj;

            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: "/subscribers/create",
                data: JSON.stringify(data),
                dataType: 'json',
                timeout: 600000,
                success: function (p) {
                    $('#create-modal').modal('hide');
                    window.location.href = "/subscribers"
                },
                error: function (jqXHR, exception) {
                    var msg = '';
                    if (jqXHR.status === 0) {
                        msg = 'Not connect.\n Verify Network.';
                    } else if (jqXHR.status == 404) {
                        msg = 'Requested page not found. [404]';
                    } else if (jqXHR.status == 500) {
                        msg = 'Internal Server Error [500].';
                    } else if (exception === 'parsererror') {
                        msg = 'Requested JSON parse failed.';
                    } else if (exception === 'timeout') {
                        msg = 'Time out error.';
                    } else if (exception === 'abort') {
                        msg = 'Ajax request aborted.';
                    } else {
                        msg = 'Uncaught Error.\n' + jqXHR.responseText;
                    }
                    alert(msg);
                }
            });

        });

        $('.fa-info-circle').mouseleave(function(){
            $('.user-info').hide();
        });

        $('.filter-button').click(function(){
            if ( $( ".filter-form" ).first().is( ":hidden" ) ) {
                $( ".filter-form" ).show();
            } else {
                $( ".filter-form" ).hide();
            }
        });

        window.onload = function () {
            document.body.classList.add('loaded_hiding');
            window.setTimeout(function () {
                document.body.classList.add('loaded');
                document.body.classList.remove('loaded_hiding');
            }, 500);
        }
    </script>

</th:block>
</body>
</html>