h1 {
    color: #78ab46;
}


.user-info{
    display:block;
    position: absolute;
    margin-left:-100px;
    padding:5px;
    background:#f3f3f3;
    height:100px;
    box-shadow:0 5px 5px rgba(0,0,0,0.3);
}


footer {
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
    background-color: #ccc
}

footer p {
    padding: 15px;
}

li.nav-item a i:hover {
    color:steelblue;
}

li.nav-item a:hover i {
    color:steelblue;
}

li.nav-item.active a i {
    color:steelblue !important;
}

.preloader {
    /*фиксированное позиционирование*/
    position: fixed;
    /* координаты положения */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* фоновый цвет элемента */
    background: #e0e0e0;
    /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
    z-index: 1001;
}

.preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #337ab7;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
}

@keyframes preloader-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes preloader-bounce {

    0%,
    100% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}

.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}

.loaded .preloader {
    display: none;
}

i.fas.fa-filter.fa-2x.filter-button{
    color:green;
    margin-right:15px;
}

i.fas.fa-filter.fa-2x.filter-button:hover{
    color:#4682b4 !important;
}

.btn-success:hover {
    background-color: #4682b4 !important;
    border-color: #4682b4 !important;
}